mixin navBar(data)
    nav.main-navigation
        ul
            each item in data
                if(item.active)
                    li: span.active!= item.title
                else
                    li: a(href=item.url): span!= item.title

mixin svg(name)
    svg(class!= `${name}`)
        use(xlink:href="img/symbol/svg/sprite.svg#" + name)

mixin socials
    ul.socials.d-flex
        li: a(href="#" target="_blank")
            +svg('facebook-logo')
        li: a(href="#" target="_blank")
            +svg('google-plus-logo')
        li: a(href="#" target="_blank")
            +svg('vk-logo')
        li: a(href="#" target="_blank")
            +svg('youtube-logo')
        li: a(href="#" target="_blank")
            +svg('linkedin-logo')
        li: a(href="#" target="_blank")
            +svg('digg-logo')
        li: a(href="#" target="_blank")
            +svg('linkedin-logo')

mixin picture(className, title, srcset, src, isFluid)
    - const fluid = !isFluid ? 'img-fluid' : null;
    picture(class!= `${className}`)
        source(class!= fluid type="image/webp" srcset!= srcset)
        source(class!= fluid type="image/jpeg" srcset!= src)
        img(class!= fluid src!= src alt!= title)

mixin slideTeam(data)
    each item in data
        .slide-inner
            .img-wrapper
                .img-block
                    img.img-fluid(src!= `${item.src}` alt=`${item.alt}`)
            p.team-member
                span Jimmy Doe
            p.member-position
                span Designer

//mixin slideComment(item)
////    .slide-pagination
////        .img-wrapper
////            .img-block
                //img.img-fluid(src!= `${item.src}` alt=`${item.alt}`)

mixin skewBlock(data)
    each item in data
        .img-block__scew
            .img-block__img_unskew(style=`background-image: url('${item.src}')`)
                .img-block__scew-text
                    span.img-block__order 1.
                    p.img-block__title IDEA
                    p.img-block__description Sed ut perspiciatis unde omnis iste natus error sit voluptatem.

mixin sliderComment(data)
    each item in data
        .slider-comment
            .row
                .col-md-4
                    .slide-inner
                        .img-wrapper
                            .img-block
                                img(src!= `${item.src}` alt=`${item.alt}`)
                .col-md-8.d-flex.flex-column
                    p.comment-text!= item.text
                    p.comment-author!= `${item.name}, ${item.role}`
